body{
    background-image: url("../assets/img/background.jpg");
    background-position: right 35% bottom 80%;
    display: block;
    overflow-x: hidden;
}

.logo{
   width:60px;
   height:60px;
}

.container-fluid{
    padding:0;
}

h1, a, button, span, .title, #footer{
    font-family: monospace;
}

.title{
    text-shadow: 4px 4px #d88f5e;
    padding-top: 75px;
}

#footer{
    margin-top: 75px;
}

