{% block stylesheet %}<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" crossorigin="anonymous">
  <link href="{{base_url()}}/css/suggestions.css" rel="stylesheet">
{% endblock %}

{% block body %}

  <div class="titleFridge">J'ai dans mes placards...</div>

  <section>

    <div class="cardcontainer list">

      <ul class="cardlist"></ul>

      <button class="but-nope">X</button>
      <button class="but-yay">✔</button>

    </div>

    <p id="nameIngredient"></p>

    <p id="buttonRecipe"></p>
    <button id="reload" onclick="window.location.reload()"></button>

    <ul class="cardlist noRecipe" id="results"></ul>

  </section>

{% endblock %}

{% block script %}
  <script src="{{base_url()}}/js/suggestions.js"></script>
{% endblock %}
